---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/welcome
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 0674b406
      App-Key:
      - 799d9e4dfc986238a6cea4d6fc6cf0a5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "welcome",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "welcome",
                                    "text": "welcome"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "text": "welcome"
                        },
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Exclamative",
                                    "type": "Sentence Modality"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "[...]
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/foxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 0674b406
      App-Key:
      - 799d9e4dfc986238a6cea4d6fc6cf0a5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "m[...]
